.App {
  text-align: center;
}

.title {
  padding-top: 20px;
  font-family: 'Kaushan Script', cursive;
    /* Set font family to Kaushan */
    color: orange;
    /* Set text color to solid orange */

}

.dark-mode {
  background-color: #333; /* Dark background color */
  color: #fff; /* White text color */
}


.settings {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.number-select {
  padding: 10px;
  font-size: 20px;
  width: 100px;
}

.category-select {
  width: 100px;
  font-size: 20px;
  padding: 10px;
}

img {
  max-width: 75%;
  height: auto;
  display: block;
  margin: auto;
}

.creators {
  margin-top: 25px;
  margin-bottom: 25px;
}

.footer {
  padding: 20px;
}

a {
  padding: 15px;
  color: orange;
  
}