.App {
  text-align: center;
}

.title {
  padding-top: 20px;
}

.dark-mode {
  background-color: #333; /* Dark background color */
  color: #fff; /* White text color */
}


.settings {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.number-select {
  padding: 10px;
  font-size: 20px;
  width: 100px;
}

.category-select {
  width: 100px;
  font-size: 20px;
  padding: 10px;
}

img {
  max-width: 75%;
  height: auto;
  display: block;
  margin: auto;
}
